<!DOCTYPE html>
<html>

<head>
<%- include('../../include/common/head') %>
  <link rel="stylesheet" href="/css/all.css">
</head>

<body>
<%- include('../../include/common/header') %>
<%- include('../../include/common/nav') %>

  <h1><%= base.title_content %></h1>

  <p>リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文</p>

<%- include('../../include/module/sample') %>

<%- include('../../include/common/footer') %>
</body>

</html>
